body{ 
	padding: 3px;
	width: auto ;
	height: 100%;
	background-color: #92c40b;
	margin: auto;
}

img{
	display: block;
	margin: auto;
}

h1{
	text-align:center;
}
section{ padding: 10px;
	border: 2px solid;
	margin: 1px;
	height: 100%;
	background-color: #fff;
	text-align: center;
	font-family: 'Indie Flower';
}

header{
	margin: 1px;
	border: 2px solid;
	width: auto;
	height: 5%;
	background: #fff;
	display: flex;
	justify-content: center;
	font-family: 'Indie Flower';
}

header ul{
	display: flex;
	list-style: none;
	width: auto;
	font-family: 'Indie Flower';
}

header ul li a{
	display: block;
	padding: 20px;
	color: black;
	text-decoration: none;
	width:auto;
	font-family: 'Indie Flower';
}

header ul ul{
	border: 1px solid;
	padding: 10px;
	position: absolute;
	width: auto;
	top:390px;
	display: block;
	background: #fff;
	transform: translateX(60%);
	opacity: 0;
	transition: all .6s;
	font-family: 'Indie Flower';
}

header ul li:hover ul{
	opacity: 1;
	transform: translateX(0%);
	width: auto;
}

.simulalink:hover{
	text-decoration: underline
	border:1px solid green;
}


.twitter-timeline{
	display: block
	margin left;

}

.span{
	width: 40px
}

.footer { 
  height: 20px; 
  background:white; 
  width:auto; 
  position:absolute; 
  bottom:; 
  left:; 
}

 .active{
 	border: 1px solid green;
 }

 .cuerpo{
 	width: 99%;
 	height: 50;
 }

 .centrar{
 	text-align: center
 }

 .formulario{
 	width: 94%;
 	height: 170px;
 	display:block;
 	margin:;
 }
 fieldset{
 	width: 50%
 }

twitter-follow-button{
	display: block;
	bottom:;
	left:;
}

.imgempresa{
	float: left;
}

legend{
	color:white;
	font-size: 4;
}

#divemp{
	text-align: center;
}

#divprod{
	text-align: left;
}

form{
	text-align: left;
	width: auto
}

#centrar{
	text-align: center;
}

footer{
	text-align: center;
}

#twitter{
	display: block;
	float:right;
}

#banner{
	width: 70%;
}

